<footer class="main-footer default">
    <div class="back-to-top">
        <a href="#"><span class="icon"><i class="now-ui-icons arrows-1_minimal-up"></i></span> <span>بازگشت به
                بالا</span></a>
    </div>
    <div class="container">
        <div class="footer-services">
            <div class="row">
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="assets/img/svg/delivery.svg">
                    </a>
                    <p>صرفه جویی در زمان</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="assets/img/svg/contact-us.svg">
                    </a>
                    <p>پشتیبانی 24 ساعته</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="assets/img/svg/payment-terms.svg">
                    </a>
                    <p>پرداخت امن شاپرک</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="assets/img/svg/return-policy.svg">
                    </a>
                    <p>ضمانت کیفیت</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="assets/img/svg/origin-guarantee.svg">
                    </a>
                    <p>پزشکان تایید شده</p>
                </div>
            </div>
        </div>
        <div class="footer-widgets">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">راهنمای رزرو از دکتر ویرا</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">نحوه ثبت سفارش</a>
                            </li>
                            <li>
                                <a href="#">رویه ارسال سفارش</a>
                            </li>
                            <li>
                                <a href="#">شیوه‌های پرداخت</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">خدمات مشتریان</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">پاسخ به پرسش‌های متداول</a>
                            </li>
                            <li>
                                <a href="#">رویه‌های بازگرداندن کالا</a>
                            </li>
                            <li>
                                <a href="#">شرایط استفاده</a>
                            </li>
                            <li>
                                <a href="#">حریم خصوصی</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title">با دکتر ویرا</h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="#">فروش در دکتر ویرا</a>
                            </li>
                            <li>
                                <a href="#">همکاری با سازمان‌ها</a>
                            </li>
                            <li>
                                <a href="#">فرصت‌های شغلی</a>
                            </li>
                            <li>
                                <a href="#">تماس با دکتر ویرا</a>
                            </li>
                            <li>
                                <a href="#">درباره دکتر ویرا</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="newsletter">
                        <p>از تخفیف‌ها و جدیدترین‌های فروشگاه باخبر شوید:</p>
                        <form action="">
                            <input type="email" class="form-control" placeholder="آدرس ایمیل خود را وارد کنید...">
                            <input type="submit" class="btn btn-primary" value="ارسال">
                        </form>
                    </div>
                    <div class="socials">
                        <p>ما را در شبکه های اجتماعی دنبال کنید.</p>
                        <div class="footer-social">
                            <a href="https://instagram.com/pishgamanvira" target="_blank"><i class="fa fa-instagram"></i>اینستاگرام
                                دکتر ویرا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <span>هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                </div>
                <div class="col-12 col-lg-2">شماره تماس: 08433230491</div>
                <div class="col-12 col-lg-2">آدرس ایمیل:<a href="#">info@pishgamanvira.com</a></div>
                <div class="col-12 col-lg-4 text-center">
                    <a href="#" target="_blank"><img
                            src="assets/img/android.png" width="159" height="48" alt=""></a>
                    <a href="#" target="_blank"><img src="assets/img/sibapp.png" width="159" height="48" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="container">
            <div class="row">
                <div class="site-description col-12 col-lg-7">
                    <h1 class="site-title">دکتر ویرا، رزرو وقت دکتر و مشاوره آنلاین</h1>
                    <p>
                        شرکت پیشگامان ویرا فعال در زمینه مراقبت های پزشکی، با تکیه بر دانش و تیم فنی جوان
                        خود سایت دکتر ویرا را برای خدمت دهی به مردم غیور تهران و البرز راه اندازی کرده است
                        ما برای سلامت شما تلاش میکنیم.
                        <br><br>
                        شماره تماس دفتر :

                        02122358630 – 02122358631
                        <br>
                        مهندس شایان طهرانی : 09128993687
                        <br>
                        دکتر مهیار سلامت : 09124893112
                        <br>
                        کارشناس پویا رحمتی : 09184668332
                    </p>
                </div>
                <div class="symbol col-12 col-lg-5">
                    <a href="#" target="_blank"><img src="assets/img/symbol-01.png" alt=""></a>
                    <a referrerpolicy="origin" target="_blank" href="https://drtajviz.com/enamad.html" rel="origin"><img
                            referrerpolicy="origin" src="assets/img/symbol-02.png" alt="" style="cursor:pointer"
                            id="K89QQMHBk8OERpH6o1vO"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>
                تمامی حقوق متعلق به شرکت پیشگامان ویرا می‌باشد.
            </p>
        </div>
    </div>
</footer>